.row
{
    display: flex;
}
.row div
{
    border: 1px solid black;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
}
.row .criteri{font-weight: 600;}
#header .row div
{
    background: #70707080;
    color:#f9f9f9;
    border:1px solid #70707080;
    height: 20px;
}
#header .row div:nth-child(1){opacity: 0;}
.valoracio.active
{
    background: #ADFF2F40;
}